<div *ngIf="isOpen" class="overlay">
  <mat-card class="dialog">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Changer le mot de passe</h2>

      <!-- Zone d'erreur globale -->
      <div *ngIf="apiError" class="api-error">
        {{ apiError }}
      </div>

      <!-- Ancien mot de passe si non admin -->
      <mat-form-field appearance="fill" *ngIf="form.get('oldPassword')">
        <mat-label>Ancien mot de passe</mat-label>
        <input matInput type="password" formControlName="oldPassword">
        <mat-error *ngIf="form.get('oldPassword')?.hasError('required')">
          Ancien mot de passe requis
        </mat-error>
        <mat-error *ngIf="form.get('oldPassword')?.hasError('maxlength')">
          trop grand
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nouveau mot de passe</mat-label>
        <input matInput type="password" formControlName="newPassword">
        <mat-error *ngIf="form.get('newPassword')?.hasError('required')">
          Nouveau mot de passe requis
        </mat-error>
        <mat-error *ngIf="form.get('newPassword')?.hasError('maxlength')">
          trop grand
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirmer le mot de passe</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
        <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')">
          Confirmer le mot de passe requis
        </mat-error>
        <mat-error *ngIf="form.get('confirmPassword')?.hasError('passwordMismatch')">
          Les mots de passe ne correspondent pas
        </mat-error>
        <mat-error *ngIf="form.get('newPassword')?.hasError('maxlength')">
          trop grand
        </mat-error>
      </mat-form-field>

      <div class="form-actions">
        <button mat-raised-button color="warn" type="button" (click)="onClose()">Annuler</button>
        <button mat-raised-button color="primary" type="submit">Valider</button>
      </div>
    </form>
  </mat-card>
</div>
