<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="toolbar-title">Users</span>
    </mat-toolbar>

    <div class="home-content">
      <h1>Users</h1>

      <div class="users-list">
        <mat-card *ngFor="let useritem of users" class="user-card"
          (pointerdown)="startPress($event, menuTrigger)"
          (pointerup)="endPress()"
          (pointercancel)="cancelPress()"
          (touchmove)="cancelPress()"
          (mouseleave)="cancelPress()"
          (contextmenu)="$event.preventDefault()">
          <div class="user-info">
            <div class="user-details">
              <mat-icon>account_circle</mat-icon>
            </div>
            <div class="user-details">
              <p><strong>Email:</strong> {{ useritem.email }}</p>
              <p><strong>Pseudo:</strong> {{ useritem.pseudo }}</p>
              <p><strong>Admin:</strong> {{ useritem.isAdmin ? 'Oui' : 'Non' }}</p>
            </div>
            <div class="user-actions">
              <!-- Bouton menu ... -->
              <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <div class="menu">
                  <button mat-menu-item (click)="onMessage(useritem)">
                    <mat-icon>message</mat-icon>
                    <span>Écrire un message</span>
                  </button>
                  <button *ngIf="user?.isAdmin" mat-menu-item (click)="onEdit(useritem)">
                    <mat-icon>edit</mat-icon>
                    <span>Modifier</span>
                  </button>
                  <button *ngIf="user?.isAdmin" mat-menu-item (click)="onDelete(useritem)">
                    <mat-icon>delete</mat-icon>
                    <span>Supprimer</span>
                  </button>
                </div>

              </mat-menu>
            </div>
          </div>
        </mat-card>
      </div>
    </div>



    <!-- Floating Action Button -->
    <button *ngIf="user?.isAdmin" mat-fab color="primary" class="fab-button" (click)="onAdd()">
      <mat-icon>add</mat-icon>
    </button>

  </mat-sidenav-content>
</mat-sidenav-container>


<app-profil-edition
  (submitForm)="handleUserSubmit($event)">
</app-profil-edition>
<app-validation-dialog (closed)="onAlertClosed($event)"></app-validation-dialog>
