//start commun
.sidenav-container {
  height: 100%;
  width: 100%;
}

.toolbar {
  display: flex;
  align-items: center;
}

.toolbar-title {
  margin-left: 1rem;
}

mat-sidenav-content{
  display: flex;
  flex-direction: column;
}
.home-content {
  flex: 1;
  overflow: auto;
}

mat-list-item mat-icon {
  margin-right: 1rem;
}
mat-list-item app-avatar {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.flex{
  display: flex;
  align-items: center;
}
.accent{
  color: #ff4081;
}

//end commun
.button{
  cursor: pointer;
}



mat-sidenav{
  width: 250px;
}

.bottom-bar {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

.bottom-bar button.mat-icon-button {
  flex: 1;
  max-width: 64px;
}

.notification-badge {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: red;
  color: white;
  font-weight: bold;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  z-index: 10;
}
