.sidenav-container {
  height: 100vh;
}

.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: var(--mat-sys-surface-container-low);
}

.logo {
  height: 40px;
  cursor: pointer;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.desktop-menu {
  display: flex;
}

.mobile-menu-button {
  display: none;
}

.mobile-menu {
  width: 250px;
}


/* Responsive */
@media (max-width: 800px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu-button {
    display: block;
  }

  .header-toolbar {
    padding: 0 8px;
  }
}
mat-list-item mat-icon {
  margin-right: 1rem;
}
.flex{
  display: flex;
}
/* Mobile & Desktop selected */
.selected {
  background-color: var(--mat-sys-on-secondary); // légère surbrillance
  font-weight: bold;
}
.body{
  display: flex;
  flex-direction: column;
}
.home-body{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
.home-content{
  flex: 1;
}
.home-section {
  margin-top: 50px;
  text-align: center;
  padding: 50px 20px;
  background-color: var(--mat-sys-secondary-container);
  border-radius: 12px;
  margin-bottom: 50px;
  flex: 1;
}

.home-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--mat-sys-on-secondary-variant);
  margin-bottom: 10px;
  line-height: 1; /* empêche le chevauchement */
  word-break: break-word;
}

.home-subtitle {
  font-size: 1.3rem;
  color: var(--mat-sys-on-secondary-container);
  margin-bottom: 20px;
}

.home-intro {
  font-size: 1rem;
  color: var(--mat-sys-on-secondary-container);
  max-width: 700px;
  margin: 0 auto 40px auto;
}

.home-highlights {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.highlight-card {
  width: 220px;
  text-align: center;
}

.highlight-icon {
  font-size: 40px;
  color: var(--mat-sys-secondary);
  margin-right: 8px;
}
mat-card-header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px var(--mat-sys-background) solid;
}
app-contact-page{
  width: 100%;
}
mat-icon{
  width: auto;
  height: auto;
}
