.courbeca-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px 0;
}

.courbe-card {
  mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    mat-card-title {
      font-weight: 600;
    }

    mat-card-subtitle {
      font-size: 0.8rem;
      color: #777;
    }

    .date {
      font-size: 0.8rem;
      color: #555;
      white-space: pre-wrap;
    }
    .user {
      overflow: hidden;
    }

    .amount {
      font-weight: 600;
      font-size: 1.1rem;
    }

    .amount-positive { color: green; }
    .amount-negative { color: red; }
  }

  mat-card-content {
    margin-top: 8px;


    .description-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .description {
        font-size: 0.85rem;
        color: #444;
        flex: 1;
        margin-right: 8px;
      }
    }
  }
}

.no-data {
  text-align: center;
  color: #777;
  margin-top: 20px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.load-more-container {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}
