<div class="agenda-container">
  <!-- Sélecteur de semaine -->
  <mat-card class="week-selector-card">
    <div class="week-selector">
      <button mat-icon-button color="primary" (click)="prevWeek()">
        <mat-icon>chevron_left</mat-icon>
      </button>

      <span class="week-range">
        {{ currentMonday | myLocalDate }}
        <mat-icon class="week-arrow" aria-hidden="true">arrow_forward</mat-icon>
        {{ currentSunday | myLocalDate }}
      </span>


      <button mat-icon-button color="primary" (click)="nextWeek()">
        <mat-icon>chevron_right</mat-icon>
      </button>

      <button mat-stroked-button
            [color]="isCurrentWeek() ? 'accent' : 'primary'"
            [disabled]="isCurrentWeek()"
            (click)="setToday()">
      Aujourd'hui
    </button>
    </div>
  </mat-card>

  <!-- Grille agenda -->
  <div class="agenda-grid">
    <!-- Header vide pour coin supérieur gauche -->
    <div class="grid-header"></div>

    <!-- Headers des jours -->
    <div class="day-box" *ngFor="let day of weekDays">
      <div class="day-header" [ngClass]="{ todayDate: isToday(day),notodayDate: !isToday(day) }">
        <span class="day-name">{{ getDayNameShort(day) }}</span>
        <span class="day-number">{{ day.getDate() }}</span>
      </div>
    </div>

    <!-- Labels des heures -->
    <ng-container *ngFor="let hour of getFullHours(); let i = index">
      <div
        class="time-label"
        *ngIf="hour !== '00:00'"
        [style.grid-row]="(i * 2 + 1) + ' / span 2'">
        {{ hour }}
      </div>
    </ng-container>



    <!-- Slots horaires -->
    <ng-container *ngFor="let day of weekDays; let dayIndex = index">
      <ng-container *ngFor="let hourIndex of getHourIndexes()">
        <div
          class="time-slot"
          [style.grid-column]="dayIndex + 2"
          [style.grid-row]="hourIndex + 2 + ' / span 2'"
        ></div>
      </ng-container>
    </ng-container>


    <!-- Événements -->
    <ng-container *ngFor="let event of agendas">
      <ng-container *ngFor="let day of weekDays">
        <div *ngIf="isEventOnDay(event, day)"
            class="event"
            [ngClass]="{ mine: isMine(event), other: !isMine(event) }"
            [ngStyle]="getEventStyleByDay(event, day)"
            (click)="onEditEvenement(event)">
          {{ event.title }}
        </div>
      </ng-container>
    </ng-container>

  </div>

  <!-- Bouton ajouter -->
  <button mat-fab color="primary" class="fab-button" (click)="onAdd()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<app-agenda-edition (submitForm)="handleUserSubmit($event)" (delete)="onDeleteElement($event)"></app-agenda-edition>
