<div class="courbeca-container" *ngIf="!isLoading; else loading">

  <div class="user-filter-container">
    <mat-form-field appearance="outline" class="user-select-field">
      <mat-label>Utilisateur</mat-label>
      <mat-select [(value)]="userSelected" (selectionChange)="onUserChange()">
        <!-- Ce qui s'affiche quand on sélectionne -->
        <mat-select-trigger class="user-option">
          <ng-container [ngSwitch]="userSelected">
            <ng-container *ngSwitchCase="'ALL'">
              <span>Tous</span>
            </ng-container>
            <ng-container *ngSwitchCase="'WEB'">
              <span>Commande Web</span>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <ng-container *ngIf="isUser(userSelected) as user">
                <app-avatar [url]="user.urlImage" [alt]="user.pseudo" [size]="30"></app-avatar>
                {{ user.pseudo }}
              </ng-container>
            </ng-container>
          </ng-container>
        </mat-select-trigger>

        <!-- Option Tous -->
        <mat-option [value]="'ALL'">
          <div class="user-option">
            <div class="user-info">
              <span class="pseudo">Tous</span>
            </div>
          </div>
        </mat-option>

        <mat-option [value]="'WEB'">
          <div class="user-option">
            <div class="user-info">
              <span class="pseudo">Commande Web</span>
            </div>
          </div>
        </mat-option>

        <!-- Options utilisateurs -->
        <mat-option *ngFor="let u of users" [value]="u">
          <div class="user-option">
            <app-avatar [url]="u.urlImage" [alt]="u.pseudo" [size]="40"></app-avatar>
            <div class="user-info">
              <span class="pseudo">{{ u.pseudo }}</span>
              <span class="email">{{ u.email }}</span>
            </div>
          </div>
        </mat-option>
      </mat-select>

    </mat-form-field> 
  </div>


  <mat-card class="total-card" appearance="outlined">
    <h2>Total CA (30 derniers jours)</h2>
    <h1 class="total-amount">{{ totalAmountLast30Days | shortNumber:2 }} €</h1>
  </mat-card>

  <mat-tab-group mat-stretch-tabs [dynamicHeight]="true" [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">

    <!-- Onglet Graph -->
    <mat-tab label="Graphique">
      <mat-card class="graph-card" appearance="outlined">
        <h2>Évolution du CA quotidien</h2>
        <div class="chart-wrapper">
          <ngx-charts-line-chart
            [results]="graphData"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="false"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [autoScale]="true"
            [timeline]="false"
            [scheme]="colorScheme">
          </ngx-charts-line-chart>
        </div>
      </mat-card>
    </mat-tab>

    <!-- Onglet Liste -->
    <mat-tab label="Liste">
      <app-courbeca-liste [userFilter]="userSelected"></app-courbeca-liste>
    </mat-tab>

  </mat-tab-group>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <button mat-fab color="primary" class="fab-button" (click)="onAdd()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<ng-template #loading>
  <div class="loading-container">
    <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
    <p>Chargement des données...</p>
  </div>
</ng-template>

<app-courbeca-edit (submitForm)="handleUserSubmit($event)"></app-courbeca-edit>
